<li><a href="~/products/">Products</a>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="~/products/mens">Mens</a></li>    
        <li><a href="~/products/womens">Womens</a></li>    
    </ul>
</li>    
